<!DOCTYPE html>


{% load staticfiles %}

Templates and Media Files 47
<html>
    <head> 
        <title>About</title>
        
    </head>
    
    <body>
        
        <h1>Rango says..</h1>
        here is the about page.
        <div>
             
            <strong>This tutorial has been put together by Soyaba Hasan</strong>
        </div>
        <div>
            <a href="/rango/">Home</a><br />
            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
            <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat."/>
        </div> 
    </body>
    </html>